label { display: block; }

#game-container {
	overflow: hidden;
}

#left-container {
	float: left;
	overflow: hidden;
	width: 50px;
	height: 400px;
}

#center-container {
	float: left;
	overflow: hidden;
}

#right-container {
	float: left;
	overflow: hidden;
	width: 50px;
	height: 400px;
}

#goLeft, #goRight {
	margin-top: 50px;
	height: 302px;
	line-height: 300px;
	width: 50px;
}

#goUp, #goDown {
	height: 50px;
	line-height: 50px;
	width: 402px;
	
}

#goUp, #goDown, #goLeft, #goRight {
	text-align: center;
	font-weight: bold;
	font-size: 200%;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
    user-select: none;
}

.ts-light #goUp, .ts-light #goDown, .ts-light #goLeft, .ts-light #goRight {
	background-color: #ccc;
}

.ts-light #goLeft:hover,  .ts-light #goRight:hover,  .ts-light #goUp:hover,  .ts-light #goDown:hover,
.ts-light #goLeft:active, .ts-light #goRight:active, .ts-light #goUp:active, .ts-light #goDown:active {
	background-color: #aaa;
}

.ts-dark #goUp, .ts-dark #goDown, .ts-dark #goLeft, .ts-dark #goRight {
	background-color: #111;
}

.ts-dark #goLeft:hover,  .ts-dark #goRight:hover,  .ts-dark #goUp:hover,  .ts-dark #goDown:hover,
.ts-dark #goLeft:active, .ts-dark #goRight:active, .ts-dark #goUp:active, .ts-dark #goDown:active {
	background-color: #333;
}
